<table class="center">
  <tr></tr>
  <tr>
    <td class="white"  width="315"></td>
    <td width="280"><b>&nbsp;&nbsp;Nom&nbsp;:</b></td>
    <td class="center" width="200"><%= @user.nom %></td>
    <td  class="white"></td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td><b>&nbsp;&nbsp;Email&nbsp;:</b></td>
    <td class="center"><a href="mailto:<%= @user.email%>"><%= @user.email%></a></td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td><b>&nbsp;&nbsp;Date de naissance&nbsp;:</b></td>
    <td class="center"><%= @user.ddn %></td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td><b>&nbsp;&nbsp;Poids actuel&nbsp;:</b></td>
    <td class="center"><%= @user.poidsActu %></td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td><b>&nbsp;&nbsp;Poids idéal&nbsp;:</b></td>
    <td class="center"><%= @user.poidsIdeal %></td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td><b>&nbsp;&nbsp;Taille&nbsp;:</b></td>
    <td class="center"><%= @user.taille %></td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td><b>&nbsp;&nbsp;Pratiquez un sport  &nbsp;:</b></td>
    <td class="center"><%= @user.isSportif ? "Oui" : "Non" %> </td>
  </tr>
  <tr>
    <td class="white"  width="315"></td>
    <td  id="wantDoSportTd"><b>&nbsp;&nbsp;Souhaite pratiquer un sport  &nbsp;:</b></td>
    <td class="center"><%= @user.wantDoSport ? "Oui" : "Non" %></td>
  </tr>
  <%if @user.cv.size %>
    <tr>
      <td class="white"  width="315"></td>
      <td><b>&nbsp;&nbsp;Votre CV &nbsp;:</b></td>
      <td class="center"><%= link_to image_tag("btn_cv_pdf.png", size: "15x15"), @user.cv.url(:original, false)%></td>
    </tr>
  <%end%>
</table>