<h1 style="text-align:center;"><%= @titre %></h1>
<p style="text-align:center;"><%= link_to image_tag("btn_download_list_pdf.jpg", size: "170x40"), "/users.pdf"%></p>

<table>                         
  <tr>                          
    <th>Nom</th>
    <th>Email</th>
    <th>Date de Naissance</th>
    <th>Age</th>
    <th>Poids actuel</th>
    <th>Poids idéal</th>
    <th>Taille</th>
    <th>IMC</th>
    <th>Sportif</th>
    <th id="wdsEntete">Souhaite Pratiquer</th>
    <th>CV</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.nom, user %></td>
      <td><%= user.email%></td>
      <td><%= user.ddn%></td>
      <td><%= user.age %></td>
      <td><%= user.poidsActu%></td>
      <td><%= user.poidsIdeal%></td>
      <td><%= user.taille %></td>
      <td><%= user.imc %></td>
      <td><%= user.isSportif ? "oui" : "non" %></td>
      <td id="wds"><%= user.wantDoSport  ? "oui" : "non" %></td>
      <td><%= link_to image_tag("btn_download_pdf.jpg", size: "20x20"), user.cv.url(:original, false) if user.cv.size %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Utilisateurs", showNonSportifList_path%>