<h1 class="entete"><%= @titre %></h1>
<p class="center"><%= link_to image_tag("btn_download_list_pdf.jpg", size: "150x35"), "/listUsers.pdf"%></p>

<table>                         
  <tr>                          
    <th class="titleTab">Nom</th>
    <th class="titleTab">Email</th>
    <th class="titleTab">Date de Naissance</th>
    <th class="titleTab">Age</th>
    <th class="titleTab">Poids actuel</th>
    <th class="titleTab">Poids idéal</th>
    <th class="titleTab">Taille</th>
    <th class="titleTab">IMC</th>
    <%if @titre == "Liste des utilisateurs" then %>
      <th class="titleTab" id="sportEntete">Sportif</th>
      <th class="titleTab" id="wdsEntete">Souhaiterai <br/> devenir sportif</th>
    <%end%>
    <th class="titleTab">CV</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td class="center"><%= link_to user.nom, user %></td>
      <td class="center"><a href="mailto:<%= user.email%>"><%= user.email%></a></td>
      <td class="center"><%= user.ddn%></td>
      <td class="center"><%= user.age %></td>
      <td class="center"><%= user.poidsActu%></td>
      <td class="center"><%= user.poidsIdeal%></td>
      <td class="center"><%= user.taille %></td>
      <td class="center"><%= user.imc %></td>
      <%if @titre == "Liste des utilisateurs" then %>
        <td class="center" id="sport"><%= user.isSportif ? "oui" : "non" %></td>
        <td class="center" id="wds"><%= user.wantDoSport  ? "oui" : "non" %></td>
      <%end%>
      <% if user.cv.size%>
        <td class="center"><%= link_to image_tag("btn_cv_pdf.png", size: "15x15"), user.cv.url(:original, false) %></td>
      <%else%>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br/>
<%if @titre == "Liste des utilisateurs" then %>
  <%= link_to "Liste des non sportifs", showNonSportifList_path, :class => "user_button round" %>
<%else%>
  <%= link_to "Liste des utilisateurs", showUserList_path, :class => "user_button round" %>
<%end%>